<div class="alert alert-{{if @color @color "primary"}} small mb-4" role="alert" ...attributes>
	{{#if @icon}}
		<FaIcon @icon={{@icon}} class="text-{{if @color @color "success"}}" />&nbsp;
	{{/if}}
	{{yield}}
</div>
