<div class="alert alert-{{if @color @color "primary"}}" role="alert" ...attributes>
	{{#if @icon}}
		<FaIcon @icon={{@icon}} class="text-{{if @color @color "primary"}}" />&nbsp;
	{{/if}}
	{{yield}}
</div>
