<div class="component-ui-property-list" ...attributes>
	{{#if @title}}
		<p class="text-uppercase">{{@title}}</p>
	{{/if}}
	<dl class="row {{if @horizontal "gx-5"}} mb-0">
		{{yield (hash
			item=(component "ui/property-list/item" horizontal=@horizontal)
		)}}
	</dl>
</div>
