<div class="ui-spinner-overlay d-flex flex-column justify-content-center align-items-center text-white">
	<p class="mb-2">{{if @message @message "Loading"}}&hellip;</p>
	<Ui::Spinner @centered={{true}} @color="light" @large={{true}} />
</div>
