<div class="accordion-item" ...attributes>
	<h2 class="accordion-header">
		{{yield (hash button=(component "ui/accordion/button" id=this.id show=@show))}}
	</h2>
	<div id="collapse{{this.id}}" class="accordion-collapse collapse {{if @show "show"}}" data-bs-parent="#accordion">
		{{yield (hash body=(component "ui/accordion/body"))}}
	</div>
</div>
